.box {
  max-width: 400px;
  width: 100%;
  background-color: rgb(255, 255, 255, 0.8);
  border-radius: 35px;
  border: 1px solid black;
  box-shadow: 4px 4px 1px 1px rgba(0, 0, 0, 0.2);
  color: black;
  text-align: center;
  padding: 15px 15px 20px 15px;
}

.box__wrapper {
  margin-top: 20px;
  height: 400px;
  overflow-y: scroll;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 7px;
  padding-right: 10px;
}

.box__wrapper > div {
  display: flex;
  align-content: space-between;
  justify-content: space-between;
  gap: 10px;
}

.box__wrapper > div > span:first-child {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.box__wrapper > div > span:last-child {
  flex-shrink: 0;
}
