.box {
    display: block;
    margin: 10px;;
    height: 400px;
    width: 300px;
    background-color: rgb(255, 255, 255, .6);
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 5px 5px 10px;
    color: black;
    text-align: center;
    font-size: 12px;
    padding: 10px 10px 10px 10px;
}