.box {
    display: block;
    margin: auto;
    height: 500px;
    width: 300px;
    background-color: rgb(255, 255, 255, .8);
    border-radius: 35px;
    border: 1px solid black;
    box-shadow: 4px 4px 1px 1px rgba(0, 0, 0, 0.2);
    color: black;
    text-align: center;
    font-size: 12px;
    padding-top: 10px;
    overflow: scroll;
}