.button {
    background-color: white;
    height: 40px;
    width: 200px;
    border-radius: 10px;
    font-size: 16px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
}
.button:hover:not(:disabled){
    opacity: 0.9;

    background-color: black;
    color: white;
}

.button:disabled {
    cursor: not-allowed;
}