.input {
  height: 40px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  border: 1px solid black;
  color: black;
  text-align: center;
  /* text-decoration: none; */
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  padding: 0 20px;
}

.input[type="date"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.input::placeholder {
  color: black;
}
