.layout {
  height: 100vh;
  background-image: url("../assets/pictures/earth.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  background-position: center;
  font-family: 'Open Sans', sans-serif;
  display: flex;
}

.page-content {
  margin-top: 60px;
  margin-bottom: 60px;
  flex-grow: 1;

  padding: 0px 30px 30px 30px;

  overflow-y: scroll;
}

