.layout {
  height: 100vh;
  display: flex;
}

.page-content {
  align-items: center;
  flex: 1;
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 20px;
}

.main-content {
  padding: 10px 20px 70px 20px;
  align-items: center;
}
