.layout {
  height: 200vh;
  background-image: url("background.svg");
}

.page-content {
  align-items: center;
  /* flex: 1;
  margin-top: 110px;
  margin-bottom: 60px;
  padding: 20px; */
  margin: 30px;
  padding: 30px;
}

.main-content {
  padding: 10px 20px 70px 20px;
  align-items: center;
}
