.my-products {
  width: 100%;
}

.filter__wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 10px;

  margin-bottom: 20px;
}

@media (max-width: 720px) {
  .filter__wrapper {
    flex-direction: column;
    align-items: end;
  }

  .filter__separator {
    width: 100%;
  }
}

.filter__separator {
  font-weight: bold;
  text-align: center;
}

.desktop-view {
  display: table;
}

.mobile-view {
  display: none;
}

@media (max-width: 720px) {
  .desktop-view {
    display: none;
  }

  .mobile-view {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.mobile-view__product + .mobile-view__product {
  margin-top: 20px;
}

.mobile-view__product {
  border: 1px solid black;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  padding: 4px;
  padding-left: 6px;
}

.mobile-view__product > p > a {
  float: right;
}

.mobile-view__search {
  width: 300px;
}
