.sortbutton {
  padding: 10px 30px;
  width: 30px;
  border-radius: 10px;
  border: 1px white;
  font-size: 16px;
  opacity: 0.5;
  font-family: "Open Sans", sans-serif;
  background-image: url("../assets/icons/sorticon.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
