/*Inspired by
https://stackoverflow.com/questions/65864594/html-and-css-table-grid-design */

th {
  flex-basis: 33.333%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  align-items: center;
  font-weight: normal;
}

tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 1em;
  padding: 1em;
}

thead {
  text-align: center;
}

thead > tr > th {
  font-weight: bold;
}

tbody > tr{ 
  border-radius: 2em;
  background-color: white;
  margin-bottom: 20px;
  -moz-box-shadow: 0 0 3px gray;
  -webkit-box-shadow: 0 0 3px gray;
  box-shadow: 0 0 5px gray;
}

table {
  background-color: white;
  opacity: 0.9;
  font-size: 16px;
  width: 100%;
  border: 0.1px solid #c7c6c6;
  box-shadow: 4px 4px 1px 1px rgba(0, 0, 0, 0.2);
  padding-left: 30px;
  padding-right: 30px;
}
