
#layout{
    display: flex;
    flex-direction: column;
    padding: "30px",
    
}

#pageContent{
    display: grid;
    min-width: 60vw;
    padding: 30px;
    height: 40em;
    margin: auto;
    background-color: white;
    /* backgroundColor: blue; */
    align-content: center;
    /* align: center; */
    grid:'content' 1fr
    footer max-content
    /1fr;
    flex: 1 0 0;
}

#mainContent {
gri-area: content;
padding: 0 40px;
}