
/* "*" for all,  */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  justify-content: center;
}

ul{
  list-style-type: non;
}










/*button {
  width: 100px;
  padding: 10px;
  border: 1px solid black;
  background-color: green;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  cursor: pointer;
}

button:hover {
  background-color: white;
  color: black;
}

.App div {
}

#root {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.custom-input {
  width: 300px;
  padding: 10px;
  border: 0;
  outline: none;
  border-radius: 10px;
  border: 2px solid black;
}*/
